@use "./Vars" as *;
// h3 {
//   text-align: center;
//   margin: 10px 0;
//   padding: 20px 0;
//   font-size: 30px;
//   font-weight: 700;
// }

form {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px 0;
  padding: 10px 10px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
  font-size: 22px;
  // background-color: rgb(231, 228, 228);
  width: 80%;
  outline-style: none;
}

button {
  color: white !important;
  font-size: 25px;
  border-radius: 10px;
  padding: 10px 5px;
  background: linear-gradient(to right, $pink, $perpile);
  border: unset !important;
}

a {
  color: rgb(39, 39, 211);
  text-decoration: none;
}

.errorMessage {
  color: red;
  font-size: 18px;
}

.logo {
  color: white;
  min-width: 60%;
  margin-right: 10px;
  // background: linear-gradient(($pink), ($perpile));
  background: linear-gradient(to right, $pink, $perpile);
  padding: 10px 5px;
  border-radius: 10px;
  text-align: center;
}
.dark {
  background-color: rgb(16, 23, 42);
  min-height: 100vh;
  color: $gray !important;
  min-height: 100vh;
  .nav-link {
    color: $gray !important;
  }
  a {
    color: $gray !important;
  }
}
.footerBorder {
  border: 1px solid transparent !important;
  border-top: 1px solid rgb(198, 192, 217) !important;
}
// .picPrivateProfile {
//   max-width: 200px;
// }

// .conOfDeleteandLogout {
//   color: red;
//   font-size: 18px;
//   margin-top: 10px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 10px 20px;
//   span {
//     cursor: pointer;
//   }
// }
